@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-color-1 {
  @apply bg-gradient-to-tl from-violet-500 to-purple-500;
}
.tech-stack {
  @apply px-4 py-0.5  rounded-md;
}

.emp-list-item {
  @apply text-center text-gray-400 grid grid-cols-[0.5fr_1fr_2fr_2fr_1.5fr_1fr_1fr_1fr_1fr] border-b;
}
.shadow {
  box-shadow: 0 0 2px #6f2cf4;

  &:hover {
    box-shadow: 0 0 5px #6f2cf4, 0 0 25px #6f2cf4;
  }
}
